#Statistics with Python
For a data scientist it is very important to carry about basic statistical operations on numeric dataset in order to find insights. This IPYNB Notebook aims to teach how to implement basic statistics in python.

In [0]:
#importing libraries
import statistics
import pandas as pd

In [0]:
#list of age of kids 
age_of_kids = [5,2,5,6,1,2,6,7,2,6,3,5,5]

In [3]:
#Average or Mean
mean_age = statistics.mean(age_of_kids)
print(mean_age)

4.230769230769231

In [4]:
#Median
median_age = statistics.median(age_of_kids)
print(median_age)

5

In [5]:
#mode
mode_age = statistics.mode(age_of_kids)
print(mode_age)

5

In [6]:
#Standard Deviation
stdev_age = statistics.stdev(age_of_kids)
print(stdev_age)

1.9644272343292228

In [7]:
#Variance
var_age = statistics.variance(age_of_kids)
print(var_age)

3.858974358974359

Now suppose there is a whole dataset with numeric columns.

In [9]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Health Insurance.csv to Health Insurance.csv
User uploaded file "Health Insurance.csv" with length 37017 bytes

In [0]:
#creating a dataframe
df= pd.read_csv('Health Insurance.csv')

In [12]:
#have a look at dataset
df.head(5)

   age  sex     bmi  children  smoker      charges
0   19   -1  27.900         0       1  16884.92400
1   18    1  33.770         1      -1   1725.55230
2   28    1  33.000         3      -1   4449.46200
3   33    1  22.705         0      -1  21984.47061
4   32    1  28.880         0      -1   3866.85520

You can check all the basic statistical functions like mena, std, etc for this dataset using:

In [13]:
df.describe()

               age          sex  ...       smoker       charges
count  1338.000000  1338.000000  ...  1338.000000   1338.000000
mean     39.207025     0.010463  ...    -0.590433  13270.422265
std      14.049960     1.000319  ...     0.807388  12110.011237
min      18.000000    -1.000000  ...    -1.000000   1121.873900
25%      27.000000    -1.000000  ...    -1.000000   4740.287150
50%      39.000000     1.000000  ...    -1.000000   9382.033000
75%      51.000000     1.000000  ...    -1.000000  16639.912515
max      64.000000     1.000000  ...     1.000000  63770.428010

[8 rows x 6 columns]